.wrapper {
  width: 100%;
}

.input {
  width: 100%;
  height: 55px;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-dark);
  background-color: var(--color-white);
  padding: 0 16px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 0.5px solid gray;
}

.dropdown {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.dropdown::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.dropdownItem {
  padding: 12px 16px !important;
  font-size: 16px !important;
  min-height: 48px !important;
  display: flex !important;
  align-items: center !important;
  gap: 12px !important;
}


