.container {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.checkbox {
  background-color: var(--color-white);
  border-color: var(--color-icon);
}

.checkboxChecked {
  background-color: var(--color-main);
  border-color: var(--color-main);
}

.icon {
  width: 1rem;
  height: 1rem;
  color: var(--color-white-constant);
}

